*{
    box-sizing: border-box;
    font-family: system-ui;
}
nav{
    border:1px solid grey;
    padding:7%;
    
}

nav a{
    color:#404040;
    font-size:1.5rem;
    text-decoration: none;
}